SECRET_KEY=django-secret-key
DEBUG=True

DB_NAME=recipebhook_db
DB_USER=recipebhook_user
DB_PASSWORD=database-password
DB_HOST=db
DB_PORT=5432

GROQ_API_KEY=groq-api-key
AWS_REGION=ap-south-1
AWS_ACCESS_KEY_ID=access-key
AWS_SECRET_ACCESS_KEY=secret-key