# Environment variables
.env

# Virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]

# Django
db.sqlite3

# Static files
staticfiles/

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db


media/

# Node
node_modules/
# SonarQube
.sonar/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
*.pem